
.body {
  background-color: #282c34;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#typeBox {
  border: 3px;
  border-color: grey;
  margin-top: 200px;
}

#centerContainer {
  border: 4px solid;
  margin-left: 100px;
  margin-right: 100px;
-webkit-box-shadow: 5px 5px  15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  margin-top: 10px;
  text-align: start;
  padding: 10px;
}

#header {
  text-align: left;
  margin-left: 100px;
  align-content: flex-start;
}

#header #wpmAccCounter {
  text-align: right;
  margin-left: 600px;
}